.vs/
bin/
bin-int/
build/

Engine/ThirdParty/AngelScript/
Engine/ThirdParty/imgui/backends/
Engine/ThirdParty/imgui/docs/
Engine/ThirdParty/imgui/examples/
Engine/ThirdParty/imgui/misc/
Engine/ThirdParty/imgui/.gitignore
Engine/ThirdParty/imgui/.editorconfig
Engine/ThirdParty/imgui/.gitattributes
Engine/ThirdParty/zlib/
Assets/

*.user
*.sln
*.vcxproj
*.filters
*Makefile
premake5.lua